
@{
    ViewData["Title"] = "Pay";
}


@*<style>
        body { margin-top:20px; }
        .panel-title {display: inline;font-weight: bold;}
        .pl-ziro { padding-left: 0px; }
    </style>*@
        <div class="container">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Details
                        </h3>
                    </div>
                    <hr />
                    <div class="panel-body">
                        <form asp-action="SendMoney" method="post">
                            <div class="form-group">
                                <label for="cardNumber">
                                    CARD NUMBER
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                           required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="expityMonth">
                                            EXPIRY DATE
                                        </label>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                        </div>
                                        <hr />
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">
                                            CV CODE
                                        </label>
                                        <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                    </div>
                                </div>
                                <div class="text-center"><h2 class="text-center">How much $?</h2></div>
                                
                                <input type="text" asp-controller="Donate" asp-action="SendMoney" class="form-control" placeholder="2000" required />
                                <br /><br />
                                <input type="submit" class="btn btn-success btn-lg btn-block" value="Pay" />
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>

        @section Scripts{
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        }

